* {
    scrollbar-color: #6a8383 #343f3f;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    background-color: #343f3f;
    color: white;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

/* search area */

#searchQuery {
    top: 5px;
    position: absolute;
    border-radius: 20px;
    width: 35%;
    background-color: #252525;
    height: 45px;
    padding-left: 5px;
}

#searchQuery #searchBar {
    position: relative;
    float: left;
    width: calc(100% - 45px);
    height: 35px;
    border-color: #00000000;
    background-color: #00000000;
    color: #cacaca;
    font-size: large;
    top: 3px;
}

input

/* select:focus, */
/* textarea:focus, */
/* button:focus */
    {
    outline: none;
}

#searchButton {
    position: sticky;
    width: 45px;
    height: 45px;
    float: right;
    background-color: #00000000;
    border-color: #00000000;
    border-left-color: #f0f0f0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 0px;
}

#searchButton:hover {
    background-color: #ffffff99;
}

#searchButton img {
    width: 25px;
    height: 25px;
}

/* search bar results */

#searchSuggest {
    max-width: 100%;
    z-index: 6;
    display: grid;
    position: absolute;
    grid-template-columns: minmax(100px, 100%);
    max-height: 500px;
    top: 50px;
    overflow: auto;
    background: #353535;
    border-radius: 10px;
    transition: ease-in-out 500ms;
    overflow: auto;
    position: absolute
}

.result {
    color: #17ebeb;
    border-radius: 5px;
    padding: 3px;
}


.result:nth-of-type(odd) {
    background: #35353544;
}

.result:nth-of-type(even) {
    background: #14141444;
}

.result:hover {
    color: #15ff00;
    background: #4a5749;
}

/* content */

#mainContent {
    margin-top: 50px;
}

table {
    padding: none;
    border: none;
    border-spacing: 0;
}

#contentHeading h2,
#contentHeading p {
    margin: 2px;
}

.smol {
    font-size: xx-small;
}

#summaryTable {
    /* border: 1px solid black; */
    border-spacing: 1px;
}

#summaryTable td {
    width: fit-content;
    white-space: pre;
    border: 1px dotted black;
    vertical-align: top;
}

#rainPercent tr {
    height: 21px;
    max-height: 21px;
}

#rainPercent td {
    width: 5px;
    border: 1px solid black;
}

/* #rainPercent {
} */

#spanMax {
    color: #f16969;
}

#spanMin {
    color: #69b0f1;
}

#spanCur {
    color: #76e060;
}

#spanRain {
    color: #69b0f1;
}

#spanSnow {
    color: #b6cef1;

}



/* hourly data */

#weeklyTable {
    border-spacing: 0;
    width: 500px;
}

#weeklyTable td {
    vertical-align: top;
}

#weeklyTable tr {
    height: 21px;
    max-height: 21px;
}


#dailyTable {
    border-spacing: 0;
    width: 500px;
}

#dailyTable td {
    vertical-align: top;
}

#dailyTable tr {
    height: 21px;
    max-height: 21px;
}


#contentWeek {
    display: inline-block;
}

#tableLabel {
    background-color: #1f1f1f;
    color: #747474;
    table-layout: fixed;
}

#tableLabel td {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

#tableLabel td:first-child {
    color: #ffffff;
}

#tableLabel tr {
    height: 21px;
    max-height: 21px;
}

#tableData {
    background-color: #1f1f1f;
    color: #000000;
}

.weatherRow,
.dayRow {
    color: #cfcfcf;
}

#tableData td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#tableDiv {
    width: 400px;
    overflow: auto;
}

/* carousel */
.carousel {
    scroll-snap-type: x mandatory;
    display: flex;
    width: 500px;
}

.carouselItem {
    scroll-snap-align: center;
    padding: 5px;
    width: 90px;
    min-width: 90px;
    height: 90px;
    margin: 10px;
    background-color: #00000088;
    border-radius: 15px;
    justify-content: center;
}

.carouselItem:hover {
    background-color: #005E5988; 
}

.carouselSelected {
    background-color: #00601188; 
}

.carouselSelected:hover {
    background-color: #003A5988; 
}

.carouselItem h3 {
    margin:0;
    font-size: 14px;
}

.carouselItem img {
    margin-top: 2px;
    width: 30px;
    height: auto;
    float: left;
}

.carouselTemp {
    margin-top: 0;
    float: right;
    right: 0;
    white-space: pre;
    font-size: 11.5px;
}

.carouselWeather {
    text-align: center;
    margin-top: 40px;
    white-space: pre;
    font-size: 12px;
}