@font-face {
    font-family: 'Oxanium';
    src: url('./assets/OxaniumMedium-VGG8V.ttf');
}

* {
    scrollbar-color: #6a8383 #343f3f;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-family: 'Oxanium';
}

body {
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../backgrounds/clear/0.jpg');
    z-index: -100;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#backgroundTemp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../backgrounds/clear/0.jpg');
    z-index: -101;
}

.bgImg {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
}

/* search area */

#searchQuery {
    top: 35px;
    position: absolute;
    border-radius: 20px;
    width: 35%;
    background-color: #252525;
    height: 45px;
    padding-left: 5px;
}

#searchQuery #searchBar {
    position: relative;
    float: left;
    width: calc(100% - 45px);
    height: 35px;
    border-color: #00000000;
    background-color: #00000000;
    color: #cacaca;
    font-size: large;
    top: 5px;
}

input

/* select:focus, */
/* textarea:focus, */
/* button:focus */
    {
    outline: none;
}

#searchButton {
    position: sticky;
    width: 45px;
    height: 45px;
    float: right;
    background-color: #00000000;
    border-color: #00000000;
    border-left-color: #f0f0f0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 30px;
}

#searchButton:hover {
    background-color: #ffffff99;
}

#searchButton img {
    width: 25px;
    height: 25px;
}

/* search bar results */

#searchSuggest {
    max-width: 100%;
    z-index: 6;
    display: grid;
    position: absolute;
    grid-template-columns: minmax(100px, 100%);
    max-height: 500px;
    top: 50px;
    overflow: auto;
    background: #353535;
    border-radius: 10px;
    transition: ease-in-out 500ms;
    overflow: auto;
    position: absolute
}

.result {
    color: #17ebeb;
    border-radius: 5px;
    padding: 3px;
}


.result:nth-of-type(odd) {
    background: #35353544;
}

.result:nth-of-type(even) {
    background: #14141444;
}

.result:hover {
    color: #15ff00;
    background: #4a5749;
}

/* content */

#mainContent {
    margin-top: 90px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

table {
    padding: none;
    border: none;
    border-spacing: 0;
}

#contentHeading h2,
#contentHeading p {
    margin-top: 2px;
    margin-bottom: 2px;
    align-tracks: center;
}

#contentHeading {
    width: max-content;
    text-align: center;
    margin: auto;
}

.smol {
    font-size: xx-small;
    width: max-content;
    margin: auto;
}

#dayTitle {
    width: max-content;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#dayTitle:hover {
    color: #b0ff56e7;
}

/* cur day info */

#summaryDiv {
    border-spacing: 1px;
    border-radius: 15px;
    margin: auto;
}

#summaryDiv img {
    height: 100px;
    width: auto;
}

.summaryCarouselRow {
    scroll-snap-type: x mandatory;
    display: flex;
    width: 500px;
    justify-content: center;
    margin: auto;
}

.summaryCarouselItem {
    white-space: pre;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    padding: 5px;

    scroll-snap-align: center;
    margin: 10px;
    background-color: #00000022;
    border-radius: 15px;
    justify-content: center;
}

#rainPercent tr {
    height: 21px;
    max-height: 21px;
}

#rainPercent td {
    width: 5px;
    border: 1px solid black;
}

/* #rainPercent {
} */

.spanMax {
    color: #f16969;
}

.spanMin {
    color: #69b0f1;
}

.spanCur {
    color: #76e060;
}

.spanRain {
    color: #69b0f1;
}

.spanSnow {
    color: #b6cef1;
}

.spanTitle {
    font-size: 18px;
}



/* hourly data */
.tabbedTable {
    margin: auto;
    border-spacing: 0;
    min-width: 400px;
}

.tabbedTable td {
    vertical-align: middle;
}

.tabbedTable tr {
    min-height: 21px;
    max-height: 32px;
}

#tableLabel {
    /* background-color: #1f1f1f; */
    color: #747474;
    table-layout: fixed;
}

#tableLabel td {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

#tableLabel td:first-child {
    color: #ffffff;
}

#tableLabel tr {
    min-height: 21px;
    max-height: 32px;
}

#tableData {
    /* background-color: #1f1f1f; */
    color: #ffffff;
    width: 52vw;
    max-width: 1000px;
}

.weatherRow,
.dayRow {
    color: #cfcfcf;
}

.dayRow td:nth-child(even) {
    background-color: #69696944;
}

.weatherRow {
    height: 32px;
}

#tableData td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    mix-blend-mode: difference;
    min-width: 42px;
}

#tableData tr {
    height: 21px;
}

#tableData img {
    width: 25px;
    height: auto;
}

#tableDiv {
    width: 52vw;
    max-width: 1000px;
    overflow: auto;
}

/* tabs */
#tabButtons {
    justify-content: center;
    height: 30px;
}

.tabRowClick {
    width: 75px;
    height: 30px;
    background-color: #1f1f1f55;
    color: white;
    border: 0;
}

.tabRowClick:hover {
    background-color: #b0ff56e7;
    color: black;
}

.tabRowCurrent {
    background-color: #ffc956e7;
    color: black;
}

#tabContent {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* carousel */

.dayCarousel {
    scroll-snap-type: x mandatory;
    display: flex;
    width: 500px;
    justify-content: center;
    margin: auto;
}

.dayCarouselItem {
    scroll-snap-align: center;
    padding: 5px;
    width: 90px;
    min-width: 90px;
    height: 90px;
    margin: 10px;
    background-color: #00000066;
    border-radius: 15px;
    justify-content: center;
}

.dayCarouselItem:hover {
    background-color: #005E5988;
}

.dayCarouselSelected {
    background-color: #00601188;
}

.dayCarouselSelected:hover {
    background-color: #003A5988;
}

.dayCarouselItem h3 {
    margin: 0;
    font-size: 14px;
}

.dayCarouselItem img {
    margin-top: 2px;
    width: 25px;
    height: auto;
    float: left;
}

.dayCarouselTemp {
    margin-top: 0;
    float: right;
    right: 0;
    white-space: pre;
    font-size: 11.5px;
    text-align: right;
}

.dayCarouselWeather {
    text-align: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    white-space: pre;
    font-size: 12px;
}