#mapContainer {
    right: 10px;
    position: absolute;
    border-radius: 15px;
}

#map {
    width: 25vw;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    transition: ease-in-out 500ms;
}

#map:focus {
    width: 65vw;
    height: 65vh;
}